<ion-view view-title="Dashboard">
  <ion-content has-header="true" padding="false">
      <div class="row" ng-repeat="row in items | inSlicesOf:2">
          <div class="col col-50" ng-repeat="item in row">
            <div class="wrapper">
              <img ng-src="{{item.image}}" width="100%" padding-bottom="100%">
              <p>{{item.category}}</p>
            </div>

          </div>
      </div>

      <div class="row" ng-repeat="row in items | inSlicesOf:2">
          <div class="col col-50" ng-repeat="item in row">
            <div class="wrapper">
              <div class="square">
                  <div class="content">
                      <div class="table">
                          <div class="table-cell">
                            <img ng-src="{{item.image}}" class="rs">
                          </div>
                      </div>
                  </div>
              </div>
              <p>{{item.category}}</p>
            </div>
          </div>
      </div>

      <div class="row" ng-repeat="row in items | inSlicesOf:2">
          <div class="col col-50" ng-repeat="item in row">
            <div class="wrapper">
              <div class="square bg" style="background-image:url({{item.image}});">
                  <div class="content">
                      <div class="table">
                          <div class="table-cell">

                          </div>
                      </div>
                  </div>
              </div>
              <p>{{item.category}}</p>
            </div>
          </div>
      </div>

      <!--div class="row" ng-repeat="row in items | inSlicesOf:2">
        <div class="col col-50" ng-repeat="item in row">
          <img ng-src="{{item.image}}" width="100px" height="100px">
          <hr/>
          <div>even: {{item.category}} {{$even}} {{image}}</div>
        </div>
      </div-->
  </ion-content>

</ion-view>
