<ion-view view-title="Dashboard">
  <ion-content has-header="true">
      <div class="row" ng-repeat="row in items | inSlicesOf:2">
          <div class="col col-25" ng-repeat="item in row">
            <img ng-src="{{item}}" width="100%">
          </div>
      </div>
      <div class="row" ng-repeat="row in items | inSlicesOf:2">
        <div class="col col-50" ng-repeat="item in row">
          <img ng-src="{{item}}" width="100px" height="100px">
          <hr/>
          <div>even: {{$even}} {{image}}</div>
        </div>
      </div>
  </ion-content>

</ion-view>
